---
layout: page
title: About
header: Pages
group: navigation
---
{% include JB/setup %}

<div id="home">
<!-- <h1>About</h1> -->
<!-- <ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul> -->
  A native of southern California, I have spent the last 17 years in the Northwest.  After spending 16 years in media sales, I decided to transition to web development to satisfy my need to analyze and natural inquisitiveness.  When I am not busy coding, I enjoy spending time with my two wonderful children, listening to music and watching sports.

  
</div>
